@model SovaProject.Data.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@*<h2>Вхід на admin панель</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Вхід" href="/Admin/AdminPanel" class="btn btn-success" />

                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@



@section Scripts {
    <link rel="icon" type="image/png" href="~/img/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form asp-action="Login" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    Вхід
                </span>
                <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Введіть пошту">
                    <input asp-for="Email" class="input100" type="text" name="username" placeholder="Введіть пошту">
                    <span asp-validation-for="Email" class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Введіть пароль">
                    <input asp-for="Password" class="input100" type="password" name="pass" placeholder="Введіть пароль">
                    <span asp-validation-for="Password" class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">-->
                @*<input type="submit" value="Увійти" href="/Admin/AdminPanel" class="login100-form-btn" />*@
                <!--<input type="submit" value="Вхід" href="/Admin/AdminPanel" class="btn btn-success" />
                </div>-->


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" value="Увійти" href="/Admin/AdminPanel" class="login100-form-btn" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<script src="~/js/main.js"></script>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

